<!-- <h2>{{getTitle()}}</h2>
   <ul>
      <li *ngFor="let course of courses">
       {{course}}
     </li>
   </ul> -->
<h2>{{title}}</h2>

<!-- Property Binding -->
<!-- <h2 [textContent]="title"></h2> -->
    <!-- <img src="{{imageUrl}}"/> -->
    <!-- <img [src] ="imageUrl" /> -->

<!-- Attribute Binding -->
<!-- <img [src]="imageUrl" />
<table>
    <tr>
        <td [attr.colspan]="colSpan"></td>
    </tr>
</table> -->

<!-- Class Binding -->
<!-- <button class="btn btn-primary" [class.active]="isActive">Save</button> -->

<!-- Style Binding -->
<!-- <button [style.backgroundColor]="isActive ? 'blue' : 'white'">Save</button> -->

<!-- Event Binding -->
<!-- <div (click)="onDivClicked()">
   <button (click)="onSave($event)">Save</button> 
</div> -->

<!-- Template variables and Event Filtering -->
<!-- <input #email (keyup.enter)="onKeyUp(email.value)" type="email" required/>
<div></div> -->

<!-- Two way binding -->
<!-- <input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()"/> -->
<!-- <div></div> -->
<!-- the best way for 2 way binding -->
<!-- <input [(ngModel)]="email" (keyup.enter)="onKeyUp()"/>
<div></div> -->

<!-- Piping -->
<!-- {{course.title | uppercase}} <br>
Students: {{course.students | number}} <br>
Rating: {{course.rating | number:'1.2-2'}} <br>
Price: {{course.price | currency:'AUD':true:'3.2-2'}} <br>
Release Date: {{course.releaseDate | date:'shortDate'}} -->
<!-- For more piping attributes go to: angular.io -> search what you want, may be in CommonModule-->


<!-- Custom Pipes -->
{{text | summary:10}}